Source: golang-github-mvo5-goconfigparser
Section: devel
Priority: extra
Maintainer: Steve Langasek <vorlon@debian.org>, Michael Vogt <michael.vogt@ubuntu.com>
Build-Depends:
 debhelper (>= 9),
 dh-golang,
 golang-go,
 golang-check.v1-dev,
Standards-Version: 3.9.7
Homepage: http://github.com/mvo5/goconfigparser
Vcs-Browser: https://github.com/mvo5/goconfigparser/tree/debian
Vcs-Git: https://github.com/mvo5/goconfigparser -b debian

Package: golang-github-mvo5-goconfigparser-dev
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: golang-goconfigparser-dev (<< 0.2-0ubuntu3~)
Breaks: golang-goconfigparser-dev (<< 0.2-0ubuntu3~)
Description: Python compatible INI parser
 This parser is build as a go equivalent of the Python ConfigParser
 module and is aimed for maximum compatibility for both the file format
 and the API. This should make it easy to use existing python style
 configuration files from go and also ease the porting of existing
 python code.
